.text-input{
    border: none;
    /* outline: none; */
    padding: 10px;
    margin-right: 30px ;
    width: 250px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
    clip-path: inset(2px 0px -10px 0px);
    transition: 200ms ease-in-out;
}
.text-input:focus{
    border: none;
    outline: none;
    clip-path: inset(2px 0px -10px 0px);
    box-shadow: #535353 0px 0px 0px 1px;
    
}
h1,h2{
    letter-spacing: 2px;
}