.password{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.right-password-container{
    padding-left: 20px;
    border-left: 1px solid #53535365;
}
.right-password-container > h1{
    font-size: 18pt;
}
.left-password-container{
    display: flex;
    flex-direction: column;
    /* text-align: center; */
    align-items: center;
}
